# Compiled files
*.class

# Logs
*.log

# Packages
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven target
target/

# TestNG reports
test-output/

# JUnit reports
**/junitreports/

# Allure
allure-results/
allure-report/